.App {
  padding: 2% 5%;
  /* text-align: center; */
}
.container {
  margin-top: 2%; 
  margin-bottom: 2%;
}
form {
  margin-top: 2%; 
  margin-bottom: 2%;
}
.row {
  margin-bottom: 1%;
}
.control-label {
  text-align: right;
}
.button {
  display: block;
  width: 100%;
}
.dropdown:hover .dropdownMenu {
  display: block;
}
.dropdown-menu{
  margin-top: 0;
}
.textbox {
  border-radius: 30px;
  background-color: white;
  opacity: 0.7;
  padding: 1.5% 1.5%;
  font-size: 1em;
}
/* .textbox h5 {
  padding
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .control-label {
    text-align: left;
  }
  .button {
    margin-top: 1%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}